body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatbox {
    padding: 20px;
    height: 500px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.message {
    margin-bottom: 15px;
}

.message.user {
    text-align: right;
}

.message.user p {
    background-color: #d1ffd6;
    color: #333;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.message.bot p {
    background-color: #d6e4ff;
    color: #333;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.input-container {
    display: flex;
    padding: 20px;
    background-color: #e0e0e0;
}

.header-container {
    display: flex;
    padding: 5px;
    background-color: #008000;
}

#userInput {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

#sendButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #45a049;
}
